<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
	 <link href="/atom.xml" rel="alternate"
	 	title="Dustin Sallings" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Dustin Sallings</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Dustin Sallings
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://bleu.west.spy.net/~dustin/">My Home</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">
				<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
	  <div id="elsewhere">
		  <a rel="me" href="http://bleu.west.spy.net/~dustin/"><img alt="home" src="http://www.google.com/s2/favicons?domain=bleu.west.spy.net"/></a>
		  <a rel="me" href="http://www.rockstarprogrammer.org/"><img alt="rockstarprogrammer" src="http://www.google.com/s2/favicons?domain=www.rockstarprogrammer.org"/></a>
		  <a rel="me" href="http://github.com/dustin"><img alt="github" src="http://www.google.com/s2/favicons?domain=github.com"/></a>
		  <a rel="me" href="http://del.icio.us/dustin"><img alt="del.icio.us" src="http://www.google.com/s2/favicons?domain=del.icio.us"/></a>
		  <a rel="me" href="http://www.backtype.com/dustin/"><img alt="backtype" src="http://www.google.com/s2/favicons?domain=www.backtype.com"/></a>
		  <a rel="me" href="http://www.amazon.com/gp/registry/wishlist/36T6VUHRICSJ8"><img alt="amazon" src="http://www.google.com/s2/favicons?domain=www.amazon.com"/></a>
		  <a rel="me" href="http://dlsspy.myopenid.com/"><img alt="myopenid" src="http://www.google.com/s2/favicons?domain=dlsspy.myopenid.com"/></a>
		  <a rel="me" href="http://dlsspy.tumblr.com/"><img alt="tumblr" src="http://friendfeed.com/static/images/icons/tumblr.png"/></a>
		  <a rel="me" href="http://friendfeed.com/dlsspy"><img alt="friendfeed" src="http://www.google.com/s2/favicons?domain=friendfeed.com"/></a>
		  <a rel="me" href="http://getsatisfaction.com/people/dlsspy"><img alt="getsatisfaction" src="http://getsatisfaction.com/favicon.gif"/></a>
		  <a rel="me" href="http://gitorious.org/users/dustin"><img alt="gitorious" src="http://www.google.com/s2/favicons?domain=github.com"/></a>
		  <a rel="me" href="http://identi.ca/dustin"><img alt="identi" src="http://www.google.com/s2/favicons?domain=identi.ca"/></a>
		  <a rel="me" href="http://reddit.com/user/dlsspy"><img alt="reddit" src="http://www.google.com/s2/favicons?domain=reddit.com"/></a>
		  <a rel="me" href="http://stackoverflow.com/users/39975/dustin"><img alt="stackoverflow" src="http://www.google.com/s2/favicons?domain=stackoverflow.com"/></a>
		  <a rel="me" href="http://twitter.com/dlsspy"><img alt="twitter" src="http://www.google.com/s2/favicons?domain=twitter.com"/></a>
		  <a rel="me" href="http://www.disqus.com/people/dlsspy"><img alt="disqus" src="http://friendfeed.com/static/images/icons/disqus.png"/></a>
		  <a rel="me" href="http://www.facebook.com/people/Dustin_Sallings/541750437"><img alt="facebook" src="http://www.google.com/s2/favicons?domain=www.facebook.com"/></a>
		  <a rel="me" href="http://books.google.com/books?uid=5229686595945792364"><img alt="google" src="http://www.google.com/s2/favicons?domain=books.google.com"/></a>
		  <a rel="me" href="http://www.google.com/s2/profiles/105229686595945792364"><img alt="google" src="http://www.google.com/s2/favicons?domain=www.google.com"/></a>
		  <a rel="me" href="http://www.intensedebate.com/people/dustin"><img alt="intensedebate" src="http://www.google.com/s2/favicons?domain=www.intensedebate.com"/></a>
		  <a rel="me" href="http://www.last.fm/user/dlsspy/"><img alt="last" src="http://www.google.com/s2/favicons?domain=www.last.fm"/></a>
		  <a rel="me" href="http://www.linkedin.com/in/dsallings"><img alt="linkedin" src="http://www.google.com/s2/favicons?domain=www.linkedin.com"/></a>
		  <a rel="me" href="http://www.ohloh.net/accounts/dlsspy"><img alt="ohloh" src="http://www.google.com/s2/favicons?domain=www.ohloh.net"/></a>
		  <a rel="me" href="http://www.pandora.com/people/dustin28"><img alt="pandora" src="http://www.google.com/s2/favicons?domain=www.pandora.com"/></a>
		  <a rel="me" href="http://www.vimeo.com/dlsspy"><img alt="vimeo" src="http://www.google.com/s2/favicons?domain=www.vimeo.com"/></a>
		  <a rel="me" href="http://youtube.com/user/dlsspy"><img alt="youtube" src="http://www.google.com/s2/favicons?domain=youtube.com"/></a>
      <a rel="me" href="http://www.quora.com/Dustin-Sallings"><img alt="quora" src="http://www.quora.com/favicon.ico"/></a>
      <a rel="me" href="https://plus.google.com/105229686595945792364?rel=author"><img alt="g+" src="http://www.google.com/s2/favicons?domain=plus.google.com"/></a>
		</div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-679821-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
